{% extends 'rmics/base.html' %}
<!DOCTYPE html>

{% block PasswordChangeSuccess %}
{% load static %}

<div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Password Change</h2>

              
            <ul class="nav navbar-right panel_toolbox">
              <li><a href="{% url 'my_profile' %}"><i class="fa fa-users"> My Profile</i></a>
              </li>
              
            </ul>
            

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="alert alert-primary" role="alert">
                Password Change Success!
              </div>
            
          </div>
        </div>
      </div>
    </div>

{% endblock %}