{% extends 'rmics/base.html' %}
<!DOCTYPE html>

{% block profile %}
{% load static %}

<div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Profile</h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a href="{% url 'manage_users' %}"><i class="fa fa-users"> Manage Users</i></a>
              </li>
              <li><a href="{% url 'user_list' %}"><i class="fa fa-users"> The Team</i></a>
              </li>
              <li><a href="{% url 'update_user' user.id %}"><i class="fa fa-edit"> Edit User</i></a>
              </li>
              <li><a href="{% url 'delete_user' user.id %}"><i class="fa fa-trash"> Delete User</i></a>
              </li>
            </ul>
            

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view"  src="{{user.customuserprofile.profile_picture.url}}" alt="Avatar" title="Change the avatar" style="width: 200px; height: auto;">
                </div>
              </div>
              <h3>{{ user.last_name }}, {{ user.first_name }}</h3>
              <h5>{{ user.customuserprofile.position }}</h5>

              <ul class="list-unstyled user_data">
                
                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> {{ user.customuserprofile.profession }}
                </li>

                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> {{ user.customuserprofile.plant_assignment }}
                </li>
              </ul>
              <br />

              

            </div>
            <div class="col-md-9 col-sm-9 ">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Awards</a>
                  </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                    <!-- start recent activity -->
                    <ul class="messages">
                      <li>
                        <img src="{% static 'images/rmi-award-icon.png' %}" class="avatar" alt="Avatar">
                        <div class="message_wrapper">
                          <h4 class="heading">Employee Of The Year: 2023</h4>
                          <p class="url">
                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                            <a href="#"><i class="fa fa-file"></i> View Certificate </a>
                          </p>
                        </div>
                      </li>
                      <li>
                        <img src="{% static 'images/rmi-award-icon.png' %}" class="avatar" alt="Avatar">
                        <div class="message_wrapper">
                          <h4 class="heading">Troubleshooter Champion: 2022 1st Quarter</h4>
                          <p class="url">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                            <a href="#" data-original-title="" class="fa fa-file"> View Certificate</a>
                          </p>
                        </div>
                      </li>
                      <li>
                        <img src="{% static 'images/rmi-award-icon.png' %}" class="avatar" alt="Avatar">
                        <div class="message_wrapper">
                          <h4 class="heading">Safety Award 2022</h4>
                          <p class="url">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                            <a href="#" data-original-title="" class="fa fa-file" > View Certificate</a>
                          </p>
                        </div>
                      </li>
                    </ul>
                    <!-- end recent activity -->

                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                  

                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}