{% extends 'rmics/base.html' %}
<!DOCTYPE html>

{% block profile %}
{% load static %}


<div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>User Profile</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5  form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Profile <small>Activity report</small></h2>
            {% comment %} <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Settings 1</a>
                    <a class="dropdown-item" href="#">Settings 2</a>
                  </div>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul> {% endcomment %}
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3  profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->
                  <img class="img-responsive avatar-view"  src="{{user.customuserprofile.profile_picture.url}}" alt="Avatar" title="Change the avatar" style="width: 200px; height: auto;">
                </div>
              </div>
              <h3>{{ user.last_name }}, {{ user.first_name }}</h3>
              <h5>{{ user.customuserprofile.position }}</h5>

              <ul class="list-unstyled user_data">
                
                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> {{ user.customuserprofile.profession }}
                </li>

                <li>
                  <i class="fa fa-briefcase user-profile-icon"></i> {{ user.customuserprofile.plant_assignment }}
                </li>
              </ul>

              <a class="btn btn-success" href="{% url 'update_user' user.id %}"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
              <a class="btn btn-danger" href="{% url 'delete_user' user.id %}"><i class="fa fa-delete m-right-xs"></i>Delete</a>

              <br />

              

            </div>
            <div class="col-md-9 col-sm-9 ">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Awards</a>
                  </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane active " id="tab_content1" aria-labelledby="home-tab">

                    <!-- start recent activity -->
                    <ul class="messages">
                      <li>
                        <img src="{% static 'images/rmi-award-icon.png' %}" class="avatar" alt="Avatar">
                        <div class="message_wrapper">
                          <h4 class="heading">Employee Of The Year: 2023</h4>
                          <p class="url">
                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                            <a href="#"><i class="fa fa-file"></i> View Certificate </a>
                          </p>
                        </div>
                      </li>
                      <li>
                        <img src="{% static 'images/rmi-award-icon.png' %}" class="avatar" alt="Avatar">
                        <div class="message_wrapper">
                          <h4 class="heading">Troubleshooter Champion: 2022 1st Quarter</h4>
                          <p class="url">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                            <a href="#" data-original-title="" class="fa fa-file"> View Certificate</a>
                          </p>
                        </div>
                      </li>
                      <li>
                        <img src="{% static 'images/rmi-award-icon.png' %}" class="avatar" alt="Avatar">
                        <div class="message_wrapper">
                          <h4 class="heading">Safety Award 2022</h4>
                          <p class="url">
                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                            <a href="#" data-original-title="" class="fa fa-file" > View Certificate</a>
                          </p>
                        </div>
                      </li>
                    </ul>
                    <!-- end recent activity -->

                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                  

                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}