{% extends 'rmics/base.html' %}
<!DOCTYPE html>

{% block profile %}
{% load static %}

<div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
          <div class="x_title">
            <h2>Settings</h2>

            <ul class="nav navbar-right panel_toolbox">
{% comment %}               
              <li><a href="{% url 'user_list' %}"><i class="fa fa-users"> The Team</i></a>
              </li> {% endcomment %}
              
            </ul>
            

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <a href="{% url 'change_password' %}">Change Password</a>
            
          </div>
        </div>
      </div>
    </div>

{% endblock %}