{% extends 'rmics/base.html' %}

{% block UpdateUser %}
  <h2>Update User</h2>

  <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="{{ form.first_name.id_for_label }}">First Name:</label>
        {{ form1.first_name }} <br>
        
        <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
        {{ form1.last_name }} <br>

        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form1.email }} <br>


        {{ form2.as_p }} 


        <button class="btn btn-info" type="Submit">Save</button>
    </form>
</div>


{% endblock %}

