{% extends 'rmics/base.html' %}
<!DOCTYPE html>



{% block assetlist %}
{% comment %} 
{% if messages %}
    {% for message in messages %}

            {% if message.extra_tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
                
      
            {% elif message.extra_tags == 'warning' %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            


            {% elif message.extra_tags == 'info' %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
              
          
            {% endif %}
            
    {% endfor %}
{% endif %} {% endcomment %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="x_title">
  <h2>The Team</h2>

  <div class="form-group pull-right top_search">
      <form action="" method="GET" class="input-group">
        <input type="search" name = "search_asset" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Go!</button>
        </span>
      </form>
  </div>
  <div class="clearfix"></div>
</div>


<div class="row justify-content-between">
{% for employee in user %}
<div class="col-md-6 col-sm-6 profile_details"> 
    <div class="well profile_view">
      <div class="col-sm-12">
        <h4 class="brief"><i>{{ employee.customuserprofile.position }}</i></h4>
        <div class="left col-md-7 col-sm-7">
        <h2>{{ employee.first_name }}, {{ employee.last_name }}</h2>
          <p>{{ employee.customuserprofile.plant_assignment }} | {{ employee.customuserprofile.area_assignment }} | {{ employee.customuserprofile.business_unit }} </p>
          
        </div>
        <div class="right col-md-5 col-sm-5 text-center">
          <img src="{{ employee.customuserprofile.profile_picture.url }}" alt="" class="img-circle img-fluid">
        </div>
      </div>
      <div class=" profile-bottom text-center">
        <div class=" col-sm-6 emphasis">
          <button type="button" class="btn btn-success btn-sm"> <i class="fa fa-user">
            </i> <i class="fa fa-comments-o"></i> </button>
          <a href="{% url 'profile' employee.id %}">
            <button type="button" class="btn btn-primary btn-sm" href="">
              <i class="fa fa-user" > </i> View Profile
            </button>

          </a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>


{% endblock %}



