{% extends 'rmics/base.html' %}
<!DOCTYPE html>

{% block MaintenanceLogForm %}

<div class="x_panel">
    <div class="x_title">
        <h2>Log Maintenance Record</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Settings 1</a>
                  <a class="dropdown-item" href="#">Settings 2</a>
                </div>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <div class="row">

            <div class="col-md-4 col-sm-12  form-group">
                <label for="wo_seq_num">WO Sequence Number:</label>
                <input type="text" name="wo_seq_num" class="form-control" placeholder="">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <label for="description_of_work">Machine failure breakdown:</label>
                <input type="text" placeholder="" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <label for="work_type">Work Type:</label>
                    <select class="form-control">
                        <option>Choose option</option>
                        {% for choice in form.work_type.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>		
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <label for="description_of_work">Description of Work:</label>
                <textarea id="description_of_work" required="required" class="form-control" name="description_of_work"></textarea>
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <label for="root_cause">Root cause:</label>
                <textarea id="root_cause" required="required" class="form-control" name="root_cause"></textarea>
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Job start:" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Job end:" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Time Consumed (hh:mm):" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Affecting Production (hh:mm):" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Affecting Time (hh:mm):" class="form-control">
            </div>

            <div class="col-md-3 col-sm-12  form-group">
                <input type="text" placeholder="Equipment name:" class="form-control">
            </div>

            <div class="col-md-3 col-sm-12  form-group">
                <input type="text" placeholder="Equipment code:" class="form-control">
            </div>

            <div class="col-md-3 col-sm-12  form-group">
                <input type="text" placeholder="Section:" class="form-control">
            </div>

            <div class="col-md-3 col-sm-12  form-group">
                <input type="text" placeholder="System:" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Affecting bagging:" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Machine failure:" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Type of stop time:" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Work center:" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Personnel assigned:" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Parts replaced:" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Quantity of parts:" class="form-control">
            </div>

            <div class="col-md-4 col-sm-12  form-group">
                <input type="text" placeholder="Status:" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Remarks:" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Spare Details:" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Notification No:" class="form-control">
            </div>

            <div class="col-md-6 col-sm-12  form-group">
                <input type="text" placeholder="Include log:" class="form-control">
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <button class="btn btn-info float-right" type="submit">Add Maintenance Log</button>
                  </div>
                </div>
              </div>

        </div>

        

    </div>
</div>


<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-info" type="Submit">Save</button>
    </form>
</div>
{% endblock %}


