{% extends 'rmics/base.html' %}
<!DOCTYPE html>

{% block MaintenanceLogForm %}
<div class="x_panel">
    <div class="x_title">
        <h2>🔧 Log Maintenance Record</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Settings 1</a>
                  <a class="dropdown-item" href="#">Settings 2</a>
                </div>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
        
        <div class="clearfix"></div>
    </div>
    
    <div class="x_content">
        <br />
        {{ form.errors }}
        <form method="POST" enctype="multipart/form-data" class="form-horizontal form-label-left">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-md-4 col-sm-12 form-group">
                    <label for="wo_seq_num">WO Sequence Number:</label>
                    <input type="number" name="wo_seq_num" class="form-control" placeholder="" id="wo_seq_num"> 
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="description_of_work">Machine failure breakdown:</label>
                    <input type="text" name="machine_failure_breakdown" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="work_type">Work Type:</label>
                        <select class="form-control" name="work_type">
                            <option value="">Choose option</option>
                            {% for choice in form.work_type.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>		
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="id_description_of_work">Description of Work:</label>
                    <textarea id="id_description_of_work" class="form-control" name="description_of_work"></textarea>
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="id_root_cause">Root cause:</label>
                    <textarea id="id_root_cause" class="form-control" name="root_cause"></textarea>
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="job_start">Job Start:</label>
                    <input type="datetime-local" name="job_start" placeholder="" class="form-control">
                </div> 
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="job_end">Job End:</label>
                    <input type="datetime-local" name="job_end" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="time_consumed">Time Consumed (hh:mm):</label>
                    <input type='time' name="time_consumed" placeholder="" class="form-control"/>
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="affecting_production">Affecting Production (hh:mm):</label>
                    <input type="time" name="affecting_production" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="affecting_time">Affecting Time (hh:mm):</label>
                    <input type="time" name="affecting_time" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-3 col-sm-12  form-group">
                    <label for="equipment_name">Equipment name:</label>
                    <input type="text" name="equipment_name" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-3 col-sm-12  form-group">
                    <label for="equipment_code">Equipment code:</label>
                    <input type="text" name="equipment_code" placeholder="" class="form-control" >
                </div>
    
                <div class="col-md-3 col-sm-12  form-group">
                    <label for="section">Section:</label>
                    <input type="text" name="section" placeholder="" class="form-control">
                </div>
    
                {% comment %} <div class="col-md-3 col-sm-12  form-group">
                    <label for="system">System:</label> 
                    <input type="text" name="system" placeholder="" class="form-control">
                </div> {% endcomment %}

                <div class="col-md-3 col-sm-12  form-group">
                    <label for="system">System:</label>
                        <select class="form-control" name="system">
                            <option value="">Choose option</option>
                            {% for choice in form.system.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>		
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    Affecting Bagging <input type="checkbox" name="affecting_bagging" class="flat form-control"> 
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    Machine Failure <input type="checkbox" name="machine_failure" class="flat form-control"> 
                </div>
    
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="type_of_stop_time">Type of stop time:</label>
                    <select class="form-control" name="type_of_stop_time">
                        <option value="">Choose option</option>
                        {% for choice in form.type_of_stop_time.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>	
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="work_center">Work center:</label>
                    <select class="form-control" name="work_center">
                        <option value="">Choose option</option>
                        {% for choice in form.work_center.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>	
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="personnel_assigned">Personnel assigned:</label>
                    <input type="text" name="personnel_assigned" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="parts_replaced">Parts replaced:</label>
                    <input type="text" name="parts_replaced" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="quantity_of_parts">Quantity of parts:</label>
                    <input type="text" name="quantity_of_parts" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-4 col-sm-12  form-group">
                    <label for="status">Status:</label>
                    <select class="form-control" name="status">
                        <option value="">Choose option</option>
                        {% for choice in form.status.field.choices %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>	
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="remarks">Remarks:</label>
                    <input type="text" name="remarks" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    <label for="spare_details">Spare Details:</label>
                    <input type="text" name="spare_details" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                  <label for="notification_num">Notification No:</label>
                    <input type="text" name="notification_num" placeholder="" class="form-control">
                </div>
    
                <div class="col-md-6 col-sm-12  form-group">
                    Include log: <input type="checkbox" name="include_log" class="flat form-control" checked="checked"> 
                </div>
    
    
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <button class="btn btn-info float-right" type="submit">Add Maintenance Log</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </form>   


    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info" type="Submit">Save</button>
        </form>
    </div>



{% endblock %}

