{% extends 'rmics/base.html' %}
<!DOCTYPE html>


{% block LogDetail %}

<div class="x_panel">
    <div class="x_title">
      <h2>Log Detail</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a href="{% url 'drms:maintenance_records' %}"><i class="fa fa-long-arrow-left"> Maintenance Log Summary</i></a>
        </li>
        <li><a href="{% url 'drms:update_log' object.id %}"><i class="fa fa-pencil-square-o"> Edit Log</i></a>
        </li>
        <li><a href="{% url 'drms:delete_log' object.id %}"><i class="fa fa-pencil-square-o"> Delete Log</i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <ul class="messages">
            <li>
              <div class="message_date ml-5">
                <h5 class="date text-info">{{ object.time_consumed }} Hrs.</h5>
                <p class="{% if object.status == 'Waiting for Parts' %}badge badge-secondary{% elif object.status == 'On-going' %}badge badge-warning{% elif object.status == 'Completed' %}badge badge-success{% elif object.status == 'Pending' %}badge badge-danger{% endif %}">{{ object.status }}</p>
              </div>
              <div class="message_wrapper">
                <h4 class="heading"><a href="{% url 'drms:log_detail' object.id %}">{{ object.equipment_code }} - {{ object.equipment_name }}: {{ object.machine_failure_breakdown }}</a></h4>
                <blockquote class="message">{{ object.description_of_work }}</blockquote>
                <br />
                <p class="url">
                  <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                  <p><strong>Root Cause:</strong> {{ object.root_cause }}</p><br>
                  <p><strong>Affecting Bagging?</strong> {{ object.affecting_bagging }}</p><br>
                  <a>Duration: {{ object.job_start }}</a> | <a>{{ object.job_end }}</a><br>
                  <a> SAP PM No: {{ object.wo_seq_num }}</a><br>
                  <a> Work Type: {{ object.work_type }}</a><br>
                  <a> Affecting Production: {{ object.affecting_production }}</a><br>
                  <a> Affecting Time: {{ object.affecting_time }}</a><br>
                  <a> Section: {{ object.section }}</a><br>
                  <a> System: {{ object.system }}</a><br>
                  <a> Type of Stop Time: {{ object.type_of_stop_time }}</a><br>
                  <a> Work Center: {{ object.work_center }}</a><br>
                  <a> Personnel Assigned: {{ object.personnel_assigned }}</a><br>
                  <a> Parts Replaced: {{ object.parts_replaced }}</a><br>
                  <a> Remarks: {{ object.remarks }}</a><br>
                  <a> Notif. No.: {{ object.notification_num }}</a><br>
                  <a> Include Log?: {{ object.include_log }}</a><br>
                  <a> Log Reporter: {{ object.log_reporter }}</a><br>
                  <a> Plant of Record: {{ object.plant_of_record }}</a><br>



                  <a href="{% url 'drms:log_detail' object.id %}"><i class="fa fa-hand-o-right"></i><strong> View</strong></a> | <a href="{% url 'drms:delete_log' object.id %}"><i class="fa fa-trash"></i> Delete</a>
                </p>
              </div>
            </li>
          </ul>
    </div>
  </div>

  <!--COMMENT SECTION-->

  <!--Submission Form-->

  {% comment %} <form method="POST">
    {% csrf_token %}
    <div>
      {{ comment_form.comment_text }}
    </div>
   
    <div class="col-md-12 col-sm-12">
      <button type="submit" class="btn btn-success mt-2 float-left">Comment</button>
  </div>

  </form> {% endcomment %}

  <form class="form-horizontal" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="message" class="col-md-12 col-sm-12 control-label">Comment:</label>
        <div class="col-md-12 col-sm-12">
            <textarea id="id_comment_text" required="required" class="form-control" name="comment_text" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 characters long comment.." data-parsley-validation-threshold="10"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-sm-12">
            <button type="submit" class="btn btn-success mt-2 float-right">Comment</button>
        </div>
    </div>
</form>




  
  <!--End of Submission Form-->
  <br>
  {% for comment in object.comments.all %}<br>
<ul class="messages">
    <li>
      <img src="{{comment.commenter.customuserprofile.profile_picture.url}}" class="avatar" alt="Avatar">
      <div class="message_date">
        <h3 class="date text-info">{{ comment.timestamp|date:"d" }}</h3>
        <p class="month">{{ comment.timestamp|date:"F" }} {{ comment.timestamp|date:"h:i A" }}</p>

      </div>
      <div class="message_wrapper">
        <h4 class="heading"><a href="{% url 'profile' comment.commenter.id %}">{{ comment.commenter }}</a></h4>
        <blockquote class="message">{{ comment }}</blockquote>
        <br />
        <p class="url">
          <!-- SHOW ONLY IF COMMENT IS FROM THE CURRENT USER NO LOGIC YET - TODO -->
          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
          <a href="#"><i class="fa fa-pencil-square-o"> Delete </i></a>
        </p>
      </div>
    </li>
  </ul>
  {% endfor %}
  <!--END OF COMMENT SECTION-->



  

{% endblock %}