{% extends 'rmics/base.html' %}


<!DOCTYPE html>


{% block MaintenanceLogSummary %}

{% if messages %}
    {% for message in messages %}

            {% if message.extra_tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
                
      
            {% elif message.extra_tags == 'warning' %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            


            {% elif message.extra_tags == 'info' %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
              
          
            {% endif %}
            
    {% endfor %}
{% endif %}

<div class="x_panel">
    <div class="x_title">
      <h2>Maintenance Record Summary</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Settings 1</a>
              <a class="dropdown-item" href="#">Settings 2</a>
            </div>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <p>Note: Make sure to provide accurate records.</p>

      <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings">
                <th class="column-title">Date</th>
                <th class="column-title">Time Consumed (hh:mm):</th>
                <th class="column-title">Machine failure breakdown</th>
                <th class="column-title">Description of work</th>
                <th class="column-title">Root Cause </th>
                {% comment %} <th class="column-title">Equipment Name </th> {% endcomment %}
                <th class="column-title">Status </th>
                <th class="column-title">Affecting Bagging? </th>
                <th class="column-title">Includ Log? </th>
                <th class="column-title">Action </th>
              </th>
              <th class="bulk-actions" colspan="7">
                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
              </th>
            </tr>
          </thead>

          {% for log in maintenance_log %}
          <tbody>
            <tr class="even pointer">
              <td class=" ">{{ log.job_start }}</td>
              <td class=" ">{{ log.time_consumed }}</td>
              <td class=" ">{{ log.machine_failure_breakdown }}</td>
              <td class=" ">{{ log.description_of_work }}</td>
              <td class=" ">{{ log.root_cause }}</td>
              {% comment %} <td class=" ">{{ log.equipment_name }}</td> {% endcomment %}
              <td class=" ">{{ log.status }}</td>
              <td class=" ">{{ log.affecting_bagging }}</td>
              <td class=" ">{{ log.include_log }}</td>
              <td class=" ">Action</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

{% endblock %}