{% extends 'rmics/base.html' %}
<!DOCTYPE html>


{% block MaintenanceLogSummary %}

{% if messages %}
    {% for message in messages %}
            {% if message.extra_tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
                
      
            {% elif message.extra_tags == 'warning' %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            


            {% elif message.extra_tags == 'info' %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            
            {% endif %}
    {% endfor %}
{% endif %}

    <div class="x_title">
      <h2>Maintenance Record Summary</h2>
      <div class="form-group pull-right top_search">
        <form action="" method="GET" class="input-group">
          <input type="search" name = "search_asset" class="form-control" placeholder="Search Asset...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
          </span>
        </form>
      </div>
      <div class="clearfix"></div>
      </div>
    
    <div>
      <a href="{% url 'drms:add_log' %}" class="btn btn-sm btn-primary float-right">Add Log</a>
      <br>
      </div>
  
    <div class="x_content">
      <div>


{% for log in maintenance_log %}
<ul class="messages">
  <li>
    <div class="message_date ml-5">
      <h5 class="date text-info">{{ log.time_consumed }} Hrs.</h5>
      <p class="month">{{ log.status }}</p>
    </div>
    <div class="message_wrapper">
      <h4 class="heading">{{ log.equipment_code }} - {{ log.equipment_name }}: {{ log.machine_failure_breakdown }}</h4>
      <blockquote class="message">{{ log.description_of_work }}</blockquote>
      <br />
      <p class="url">
        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
        <a>Date: {{ log.job_start }}</a> | <a>Affecting Bagging?: {{ log.affecting_bagging }}</a><br>
        <a> SAP PM No: {{ log.wo_seq_num }}</a><br>
        <a href="{% url 'drms:log_detail' log.id %}"><i class="fa fa-hand-o-right"></i><strong> View</strong></a> | <a href="{% url 'drms:delete_log' log.id %}"><i class="fa fa-trash"></i> Delete</a>
      </p>
    </div>
  </li>
</ul>
<!-- End of Maintenance Log Summary -->

      
{% endfor %}

      </div>
    </div>
{% endblock %}