{% extends 'rmics/base.html' %}


<!DOCTYPE html>


{% block MaintenanceLogSummary %}

{% if messages %}
    {% for message in messages %}

            {% if message.extra_tags == 'success' %}
            <div class="alert alert-success" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
                
      
            {% elif message.extra_tags == 'warning' %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            


            {% elif message.extra_tags == 'info' %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
              
          
            {% endif %}
            
    {% endfor %}
{% endif %}

<div class="x_panel">
    <div class="x_title">
      <h2>Maintenance Record Summary</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Settings 1</a>
              <a class="dropdown-item" href="#">Settings 2</a>
            </div>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    
    <div>
      <a href="{% url 'drms:add_log' %}" class="btn btn-sm btn-primary float-right">Add Log</a>
      <br>
      </div>
  
    <div class="x_content">
      <div>
        {% for log in maintenance_log %}
        <div class="card mb-3 border-top border-info shadow-sm">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ log.equipment_code }} - {{ log.equipment_name }}: {{ log.machine_failure_breakdown }}</h5>
                        <p class="card-text">{{ log.description_of_work }}</p>
                        <p class="card-text" style="margin-bottom: 0.2rem;"><strong>Status:</strong> {{ log.status }}</p>
                        <p class="card-text" style="margin-bottom: 0.2rem;"><strong>Affecting Bagging?</strong> {{ log.affecting_bagging }}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-1"><strong>Date:</strong> {{ log.job_start }}</li>
                        <li class="list-group-item py-1"><strong>Time Consumed:</strong> {{ log.time_consumed }}</li>
                        <li class="list-group-item py-1"><strong>Include Log?</strong> {{ log.include_log }}</li>
                        <li class="list-group-item py-1"><a href="{% url 'drms:log_detail' log.id %}">View</a> | <a href="">Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  
  

{% endblock %}