This is update log


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p><strong>Machine Failure Breakdown:</strong> Lorem ipsum dolor sit amet.</p>
            <p><strong>Description of Work:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p><strong>Work Type:</strong> Repair</p>
            <p><strong>Root Cause:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-6">
            <p><strong>Job Start:</strong> 2023-11-04 08:00 AM</p>
            <p><strong>Job End:</strong> 2023-11-04 10:00 AM</p>
            <p><strong>Time Consumed:</strong> 2 hours</p>
            <p><strong>Status:</strong> Completed</p>
        </div>
    </div>
</div>
