Model name: FindingsLog

timestamp:
Date & time stamp the findings were logged to RMICS.  (System generated input)

time_of_discovery:
Date & time the findings was discovered through the conditioned-based maintenance program.(User manual input)

reported_time: 
Date & time the findings were reported to the equipment owner. (0 if equipment owner is the one who reported the findings to RMI)

findings_title: 
Xxxxx

findings_description: 
Xxxx

action_plan: 
Xxxx

action_plan_schedule: 
Xxxx

parts_availability: 
Xxxx

status:
Xxxx

comments:
Xxxx





Notes:
The difference of timestamp and time_of_discovery reflects how fast the maintenance planner has updated the system.
The difference between reported_time and time_of_discovery reflects the speed at which the findings was relayed to the equipment owner. (KPI*)