{% extends 'rmics/base.html' %}
<!DOCTYPE html>

{% block assetdetail %}
<div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">

        
        <div class="x_title">
          <h2>Asset Detail</h2>
          
          <ul class="nav navbar-right panel_toolbox">
            <li><a href="{% url 'ams:asset_list' %}"><i class="fa fa-long-arrow-left"> Asset List</i></a>
            </li>
            <li><a href="{% url 'ams:update_asset' asset.id %}"><i class="fa fa-pencil-square-o"> Edit Asset</i></a>
            </li>
            <li><a href="{% url 'ams:delete_asset' asset.id %}"><i class="fa fa-pencil-square-o"> Delete Asset</i></a>
            </li>
          </ul>

          
          <div class="clearfix"></div>
        </div>


        <div class="x_content">

          <div class="col-md-7 col-sm-7 ">
            <div class="product-image">
              <img src="{{ object.asset_image_primary.url }}" alt="..." />
            </div>
          </div>

          <div class="col-md-5 col-sm-5 " style="border:0px solid #e5e5e5;">

            <h3 class="prod_title">{{ object.asset_rated_capacity }} {{ object.asset_type }} {{ object.asset_sub_type }}</h3>

            <div class="">
                <div class="product_price">
                  <h1 class="price">{{ object.asset_model }}</h1>
                  <span class="price-tax">{{ object.asset_manufacturer }} {{ object.asset_year }}</span>
                  <br>
                </div>
              </div>
            <br />

            <div class="">
              <h2>Drive Details</h2>
              <ul class="list-inline prod_size display-layout">
                <li>
                  <button type="button" class="btn btn-default btn-xs">Drive Type {{ object.asset_drive_details }}</button>
                </li>
                <li>
                  <button type="button" class="btn btn-default btn-xs">Supply: 440v</button>
                </li>
                <li>
                  <button type="button" class="btn btn-default btn-xs">Type: AC</button>
                </li>
              </ul>
            </div>

            <h5>Asset Files</h5>
                        <ul class="list-unstyled project_files">
                          <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                          </li>
                          <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                          </li>
                          <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                        </ul>
                        <br />

            <div class="">
              <h2>Plant Installations</h2>
              <p>BMP MisOr 1, BMP MisOr 2, BMP DavSur1</p>
            </div>
            <br />



            <br />

          </div>


          <div class="col-md-12">

            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Maintenance Record</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Plant Installation</a>
              
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="dashboard-widget-content">
                  <ul class="list-unstyled timeline widget">
                    {% for log in related_maintenance_log %}
                    <li>
                      <div class="block">
                        <div class="block_content">
                          <div class="byline">
                            <span>{{ log.plant_of_record }}</span> | <a>{{ log.time_consumed }} hrs</a>
                          </div>
                          <h2 class="title">
                                            <a>{{ log.machine_failure_breakdown }} | {{ log.description_of_work }}</a>
                                        </h2>
                          
                          <p class="excerpt">{{ log.root_cause }}</p>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>

              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                National Office - Pasig <br>
                BMEG-Bataan 1 <br>
                BMEG-Bataan 2 <br>
                BMEG-Echague <br>
                BMEG-Leganes <br>
                BMEG-Ormoc <br>
                BMEG-Pavia <br>
                Test Plant <br>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
      
{% endblock %}



